form {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;

  background: rgba(50, 50, 50, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(50, 50, 50, 0.3);
  gap: 8px; /* add space between input and icon */
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 8px;
  background: transparent;
  flex-grow: 1; /* input takes all available space */
  min-width: 0;
  color: #fdf2f2; /* fix shrinking issue */
}

.search-icon {
  cursor: default;
  flex-shrink: 0; /* prevent icon from shrinking */
  width: 24px; /* set fixed width */
  height: 24px; /* set fixed height */
}

@media (max-width: 480px) {
  form {
    flex-direction: row;
    padding: 8px 10px;
    max-width: 80%;  /* use more width */
    width: 100%;      /* make form responsive */
    gap: 8px;
  }
  .search-input {
    font-size: 1.2rem;
    padding: 10px 12px;
    width: 60%;     /* full width in column layout */
  }

}

